body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
.landing {
	width: 100%;
	height: 700px;
	background-color: #3C3C3C;
	color: #A4A4A4;
	text-align: center;
}
.logo-wrapper{
	padding-top: 100px;
	margin-bottom: 50px;
	font-size: 18pt;
}
.cave-wrapper{
	font-size: 16pt;
	margin: 0 auto;
	height:200px;
	width: 200px;
	background-color: #fafafa;
	margin-bottom: 50px;
}
.cave-text {
	position: relative;
	top: 100px;
}
.title {
	font-size: 30pt;
	padding-bottom: 10px;
}
.event-date {
	font-size: 16pt;
}
.form-text {
	color: #808080;
	margin: 20px 0;
}
#registration-input {
	padding: 0 5px;
	width: 300px;
	border: none;
	border-radius: 5px;
	height:30px;
}
#registration-input:focus {
	outline: none;
}