@font-face {
  font-family: 'Gotham';
  src: url('../../assets/fonts/Gotham/Gotham-Medium.eot');
  src: url('../../assets/fonts/Gotham/Gotham-Medium.eot#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Gotham/Gotham-Medium.woff') format('woff'), 
       url('../../assets/fonts/Gotham/Gotham-Medium.ttf')  format('truetype'),
       url('../../assets/fonts/Gotham/Gotham-Medium.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Brandon-Regular';
  src: url('../../assets/fonts/BrandonGrotesque/Brandon_reg.eot');
  src: url('../../assets/fonts/BrandonGrotesque/Brandon_reg.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/BrandonGrotesque/Brandon_reg.woff') format('woff'), 
       url('../../assets/fonts/BrandonGrotesque/Brandon_reg.ttf')  format('truetype'),
       url('../../assets/fonts/BrandonGrotesque/Brandon_reg.svg#svgFontName') format('svg');
}