body {
	background-image: none;
}

.event-container {
	width: 348px;
	height: 186.5px;
	background-color: rgb(29,48,94);
	border-radius: 2.5pt;
}

.schedule-header {
	font-family: 'Gotham-Regular';
	font-size: 10pt;
	color: rgb(241,249,253);
	height: 22.5px;
	background-color: rgb(128,140,197);
	border-top-right-radius: 2.5pt;
	border-top-left-radius: 2.5pt;

}

.sub-event-header {
	height: 22.5px;
	background-color: rgb(78,93,148);
	font-family: 'Gotham-Medium';
	font-size: 10pt;
	color: rgb(241,249,253);
}

.feed {
	height: 322px;
	overflow: hidden;
}

.normal-sponsor {
	width: 150px;
	height: 70px;
}

.fulcrum-sponsor {
	width: 425px;
	height: 81px;
}


.sponsors-container {
	width: 500px;
}

.dashboard {
	width: 100%;
	height: 100vh;
	background-image: url('../../assets/img/svg/tv_background.svg') !important;
	background-size: cover;
}

.clock-container {
	position: relative;
	top: calc(100vh - 60%);
	height: 200px;
	width: 500px;
	display: block; 
	margin: 0 auto;

}

.time {
	text-align: center;
	font-family: 'Gotham-Medium';
	color: rgb(246,200,96);
	font-size: 58.3pt;
	letter-spacing: 2.4pt;
}

.time-header {
	font-family: 'Gotham-Medium';
	text-align: center;
	font-size: 21.9pt;
	color: rgb(245,250,252);
}