h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.responsive-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .responsive-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .responsive-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .responsive-container {
    width: 1170px;
  }
}