.travel {
  width: 100%;
  position: relative;
  padding-top: 2em;

  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;

  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;


  .travel-header {
    text-align: center;

    .travel-header-logo {
      width: 120px;
      height: auto;
    }

    .travel-header-title {
      font-weight: bold;
      text-transform: lowercase;
      font-variant: small-caps;
      letter-spacing: 1px;
    }

    .travel-header-subtitle {
      color: #B8BDE0;
      font-weight: 700;
      letter-spacing: 0.5px;
    }

  }

  .travel-body {
    width: 50%;
    margin: 0 auto;

    padding: 20px 30px;

    .travel-body-panel {
      background-color: #E8EFF3;
      margin-bottom: 1em;


      .travel-body-panel-header-1 {
        cursor: pointer;
        color: white;
        background-color: #F6C960;
        padding: 10px 30px;
      }

      .travel-body-panel-header-2 {
        cursor: pointer;
        color: white;
        background-color: #8A1838;
        padding: 10px 30px;
      }

      .travel-body-panel-header-3 {
        cursor: pointer;
        color: white;
        background-color: #EE3065;
        padding: 10px 30px;
      }

      .travel-body-panel-header-4 {
        cursor: pointer;
        color: white;
        background-color: #296773;
        padding: 10px 30px;
      }

      .travel-body-panel-header-5 {
        cursor: pointer;
        color: white;
        background-color: #3B9BAD;
        padding: 10px 30px;
      }

      .travel-body-panel-header-6 {
        cursor: pointer;
        color: white;
        background-color: #57C8E0;
        padding: 10px 30px;
      }

      .travel-body-panel-content {
        display: none;
        padding: 10px 30px;

        .arrow {

        }
      }

      .travel-body-panel-title {
        font-weight: bold;
        text-transform: lowercase;
        font-variant: small-caps;
        letter-spacing: 1px;
        display: inline;
      }

      .travel-body-caret {
        height: 1em;
        float: right;
        margin-top: 15px;
      }

      .travel-body-panel-content {
        color: black;

        .travel-body-panel-content-title {
          font-weight: bold;
          text-transform: lowercase;
          font-variant: small-caps;
          letter-spacing: 1px;
        }

        table {
          width: 100%;
          border-collapse: collapse;
        }

        tr {
          border-collapse: collapse;
          width: 100%;
        }

        td {
          border-collapse: collapse;
          padding-left: 1em;

        }

        tr:nth-child(even) {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  .travel-footer {
    text-align: center;
    color: #B8BDE0;
    font-weight: 700;
    letter-spacing: 0.5px;

    h5 {
      font-weight: 700;


    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}