.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	display: block;
	margin: 0 auto;
}

.title-text {
	font: 30px 'Gotham';
	color: #f1f9fd;
	text-align: center;
	padding-bottom: 25px;
}

.instruction-text {
	font: 22px 'Brandon-Regular';
	text-align: center;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	color: #b7bcdf;
	margin: 0 auto;
	display: block;
	padding-bottom: 25px;
}

@media (min-width: 800px) {
	.container,
	.instruction-text {
		width: 800px;
		padding-left: 0;
		padding-right: 0;
	}
}
.checkbox-list {
	list-style: none;

	input {
		display: inline-block;
		transform: scale(1.75);
	}

	label {
		font: 22px 'Brandon-Regular';
		color: #b7bcdf;
		display: inline-block;
		margin-left: 10px;
	}
}

.team-select-container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	display: block;
	margin: 0 auto;
}

@media (min-width: 800px) {
	.team-select-container {
		width: 800px;
	}
}


.back-button {
  float: left;
}

.continue-button {
  float: right;
}
