.container {
	width: 900px;
	display: block;
	margin: 0 auto;
}

.title-text {
	font: 30px 'Gotham';
	color: #f1f9fd;
	text-align: center;
	padding-bottom: 25px;
}

.instruction-text {
	font: 22px 'Brandon-Regular';
	text-align: center;
	width: 900px;
	color: #b7bcdf;
	margin: 0 auto;
	display: block;
	padding-bottom: 25px;
}