.welcome-text {
	font: 30px 'Gotham-Medium';
	color: #f1f9fd;
	text-align: center;
	padding-bottom: 50px;
}

.announcement-text {
	font: 22px 'Brandon-Regular';
	color: #f1f9fd;
	width: 40%;
	margin: 0 auto;
	display: block;
	padding-bottom: 50px;
}

@media (max-width: 1200px) {
	.announcement-text {
		width: 90%;
	}
}

.strong {
	font-weight: 900;
}
