.welcome-text {
	font: 30px 'Gotham';
	color: #f1f9fd;
	text-align: center;
	padding-bottom: 50px;
}

.announcement-text {
	font: 22px 'Brandon-Regular';
	font-weight: lighter;
	color: #f1f9fd;
	width: 800px;
	margin: 0 auto;
	display: block;
	padding-bottom: 50px;
}
