.welcome-text {
	font: 30px 'Gotham';
	color: #f1f9fd;
	text-align: center;
	padding-bottom: 50px;
}

.announcement-text {
	font: 22px 'Brandon-Regular';
	font-weight: lighter;
	color: #f1f9fd;
	width: 800px;
	margin: 0 auto;
	display: block;
	padding-bottom: 50px;
}

.register-button {
	height: 54px;
	width: 228px;
	border-radius: 3px;
	background-color: #399BAD;
	color: #f1f9fd;
	font: 22px 'Gotham';
	display: block;
	margin: 0 auto;
	text-decoration: none;
	line-height: 54px;
	text-align: center;
	margin-bottom: 100px;
}

.register-button:hover {
	color: #f1f9fd
}