.container {
	width: 800px;
	display: block;
	margin: 0 auto;
}

.info-text {
	font: 38px 'Gotham';
	color: #f1f9fd;
	text-align: center;
	padding-bottom: 100px;
}

.column-left {
	width: 400px;
	float: left;
}

.column-right {
	width: 400px;
	float: right;
}