.registrationHeader {
    padding-top: 60px;
    padding-bottom: 30px;
}

.registrationHeader .headerLogo {
    height: 100px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
 }

