.title-text {
	font: 30px 'Gotham';
	color: #f1f9fd;
	text-align: center;
	padding-bottom: 25px;
}

.instruction-text {
	font: 22px 'Brandon-Regular';
	text-align: center;
	width: 700px;
	color: #b7bcdf;
	margin: 0 auto;
	display: block;
	padding-bottom: 25px;
}

/*-- Cards --*/

.project-card-container {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0 auto;
}

.project-card {
  width: 185px;
  height: 185px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.project-card.card-active {
  box-shadow: 0 0 0 5px #f1f9fd;
}

.project-card img {
  width: 98px;
  height: 98px;
  margin-bottom: 16px;
}

.project-card .label {
  font-size: 22px;
}

.max-selected {
	opacity: 0.5;
}

/*-- Custom card colors --*/

#javascript {
	background-color: #f6c860;
}

#ios {
	background-color: #dd5926;
}

#android {
	background-color: #296773;
}

#ruby {
	background-color: #891738;
}

#python {
	background-color: #3b9aac;
}

#create {
	background-color: #b7bcdf;
}

#embedded {
	background-color: #ed2f65;
}

#linux {
	background-color: #57c7df;
}









