body
  background-color: #122342

.Landing
  width: 100vw
  height: 100vh
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

.Landing .Hero
  width: 480px
  height: 100%;

.Landing .Hero .Logo
  width: 100%
  height: auto