body
  background-color: #212d5d

.cave
  height: 98vh
  width: auto
  position: relative
  left: 50%
  transform: translateX(-50%)
  overflow: hidden

.cave img
  width: 100%
  position: absolute
  top: 50%
  transform: translateY(-50%)

.caveMobileOnly
  display: none
  position: absolute
  top: 50%
  transform: translateY(-50%)
  height: 100vh
  background-image: url('../../assets/landing/landing-cave.svg')
  width: 100%
  background-repeat: no-repeat
  background-position: 50%

.cave .sign
  position: relative
  width: 100vw
  height: 100%
  top: 50%
  transform: translateY(-50%)

.cave .sign img
  width: 200px
  left: 60%
  top: 65%
  position: relative

@media (max-width: 600px)
  .cave
    display: none;
  
  .caveMobileOnly
    display: block