html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #122342;
  color: #ffffff;
  background-image: url('../../assets/img/home/background-rocks.svg');
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 240px;
  background-repeat: no-repeat;
}

.landing {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  .lanterns {
    width: 100%;
    height: 173px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;

    @media only screen and (min-width: 540px) {
      margin-bottom: 60px;
    }

    .lanternUnit {
      width: 100px;
      height: 200px;
      background-image: url('../../assets/img/home/lamp.svg');
      display: inline-block;
      background-repeat: no-repeat;
    }
  }

  .sponsorHeading {
    text-transform: uppercase;
    text-align: center;

  }

  .sponsorContainer {
    max-width: 960px;
    margin: 0 auto;
    background-color: #F2FAFE;
    min-height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;

    @media only screen and (min-width: 480px) {
      padding: 40px;

    }

    .tierSeparator {
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    .sponsorLogoBoxFull {
      width: 100%;
      display: flex;
      justify-content: center;
      max-height: 120px;

      @media only screen and (min-width: 480px) {
        max-width: 60%;
        height: 120px;
        max-height: initial;
      }

      img {
        height: 100%;
        width: auto;
      }
    }

    .sponsorLogoBoxHalf {
      width: 50%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-height: 85px;

      @media only screen and (min-width: 600px) {
        max-width: 50%;
        height: 140px;
        max-height: initial;
      }

      img {
        height: 100%;
        width: auto;
      }
    }

    .sponsorLogoBoxThird {
      width: 33%;
      display: flex;
      justify-content: center;
      height: 65px;

      @media only screen and (min-width: 800px) {
        max-width: 60%;
        height: 120px;
        max-height: initial;
      }

      img {
        width: 100%;
        height: auto;

        @media only screen and (min-width: 800px) {
          height: 100%;
          width: auto;
          max-height: initial;
        }
      }
    }

    .sponsorLogoBoxFourth {
      width: 100%;
      display: flex;
      justify-content: center;
      max-height: 120px;

      @media only screen and (min-width: 480px) {
        max-width: 60%;
        height: 120px;
        max-height: auto;
      }

      img {
        height: 100%;
        width: auto;
      }
    }
  }

}

.landing .hero {
  // width: 480px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .hero .logo {
  margin-top: 0.5em;
  width: 120px;
  height: auto;
}

.dateLabel {
    font-family: 'Brandon-Regular', 'Avenir', 'Arial', 'Helvetica Neue', sans-serif;
    margin: 20px 0 80px 0;
}

.host {
  font-family: 'Brandon-Regular', 'Avenir', 'Arial', 'Helvetica Neue', sans-serif;
  position: relative;
  bottom: 80px;
}

.mb20 {
  margin-bottom: 20px;
}

.login {
  text-align: center;
  margin-bottom: 60px;
}

.lanternUnit:nth-of-type(1) {
  position: relative;
  top: -42px;
}

.lanternUnit:nth-of-type(2) {
  position: relative;
  top: 0px;
}

.lanternUnit:nth-of-type(3) {
  position: relative;
  top: -62px;
}

.lanternUnit:nth-of-type(4) {
  position: relative;
  top: -16px;
}

.lanternUnit:nth-of-type(5) {
  position: relative;
  top: -42px;
}

.lanternUnit:nth-of-type(6) {
  position: relative;
  top: -58px;
}

.lanternUnit:nth-of-type(7) {
  position: relative;
  top: -14px;
}
