body
  background-color: #212d5d

.cave
  height: 100vh
  width: auto
  position: relative

.cave img
  width: 100%
  position: absolute
  top: 50%
  transform: translateY(-50%)

.cave .logo
  position: relative
  width: 100vw
  height: 100%
  top: 50%
  transform: translateY(-50%)

.cave .logo img
  width: 200px;
  left: 60%;
  top: 65%;
  position: relative;