.sponsorHeading {
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
}

.sponsorContainer {
    margin: 0 auto;
    //background-color: #F2FAFE;
    background-image: url("../../assets/img/svg/sponsorsbackground.svg");
    min-height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
}

.list {
    padding: 10%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.topListItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: 100%;
    margin-top: 5%;

    a {
        width: 100%;
        height: 100%;
    }

    img {
        height: 100%;
        width: 100%;
    }
}

.secondListItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: 100%;
    margin-top: 5%;

    a {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: 100%;
    margin-top: 5%;

    a {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.listItemLink {
    position: relative;
}

.listItemImage {
    top: 50%;
    width: auto;
    max-width: 100%;
    max-height: 200px;
}

@media all and (min-width: 40em) {
  .listItem {
    width: 50%;
  }
}

@media all and (min-width: 60em) {
    .topListItem {
        width: 100%;
    }

    .secondListItem {
        width: 50%;
    }

    .listItem {
        width: 33%;
        padding: 2%;
    }
}

@media all and (max-width: 40em) {
  .listItem {
    width: 50%;
  }
}
